.upper-section {
    display: flex;
    flex-direction: row;
    margin: 25px;
    justify-content: center;
    gap: 150px;
}
.upper-section aside {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 0px;
    padding: 0px;
    background-color: #D0E4F5;
    padding: 15px;
    margin: 15px;
    margin-bottom: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 2, 0.2);
    border-radius: 8px;
    
}
.upper-section h2 {
    text-align: center;
    margin-top: 0px;
}
.upper-section img {
    border: 3.5px solid black;
    box-shadow: 5px 5px 5px;
}