.welcome {
    display: flex;
    justify-content: center;
    margin: 15px;
    border: 2px solid red;
    background: url(../images/welcome.jpg) no-repeat center center;
    background-size: contain;
    height: 500px;
}
