/* Welcome image */
.welcome {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid rgb(198, 197, 197);
    padding: 10px;
}
.welcome-wrapper {
    display: flex;
    justify-content: center;
    margin: 20px;
    background: linear-gradient(0deg, rgba(34, 193, 195, 0) 65%, rgba(0, 0, 0, 1) 100%), url(../images/welcome.jpg) no-repeat center center;
    background-size: cover;
    height: 525px;
    width: 950px;
    border: 5px solid black;
    box-shadow: 5px 5px 5px;
}
.welcome-wrapper h2 {
    color: white;
    font-size: 33px;
    text-align: center;
    flex-wrap: wrap;
    padding-top: 0px;
    display: flex;
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
    align-items: flex;
}


/* Secondary nav bar with image links */
.secondary-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.secondary-links h3 {
    align-self: center;
    padding: 0px;
    margin: 10px;
    font-size: 22px;
}
.figure-wrapper {
    display: flex;
    justify-content: space-around;
}
figure img {
    border: 3.5px solid black;
}
figcaption {
    font-weight: bold;
    text-align: center;
}
figcaption a {
    text-decoration: none;
    color: #2b2b2b;
}